.container {
    padding: 20px;
    
    /*background-color: rgba(0, 0, 0, 0.4);*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
}


@media screen and (max-width: 550px) {
    .container {
        grid-template-columns: auto auto;
    }
}